@page "/dashboard"

<h2>Dashboard</h2>

<StudentInfo Name="Wasif Ali_DASHBOARD"
             RegNo="245187-CS-25"
             Program="BS CS" />

<Counter />
<CourseCard CourseName="Artificial Intelligence"
            CourseCode="CS401"
            CreditHours="3" />

<CourseCard CourseName="Database System "
            CourseCode="CS301"
            CreditHours="4" />

<DepartmentInfo DeptName="Computer Science"
                FacultyName="MAM KAYNAT" />

<AttendanceCounter />
<ProfileVisibility />

<UserInput />
