@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to Wasif App.
<StudentInfo Name="Wasif Ali"
             RegNo="245187-BSCS-25"
             Program="MS IT" />
<Counter />
<DepartmentInfo DeptName="Computer Science"
                FacultyName="Engineering" />
