<h3>Student Information</h3>

<p>Name: @Name</p>
<p>Reg No: @RegNo</p>
<p>Program: @Program</p>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public string RegNo { get; set; }
    [Parameter] public string Program { get; set; }
}
